### https://raw.github.com/github/gitignore/a5481c9e3a7ad99474107720058556d62e9419ca/Perl.gitignore

!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUitls::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

local/
